*.pyc
venv
bundle.js
node_modules
.cache
sensei/bin
sensei/lib
sensei/pip-selfcheck.json
sensei/include/*
sensei/.Python
*.swp
app/static/bundle.js
app/static/bundle.css
app/static/*.map
.ipynb_checkpoints
.DS_Store
npm-debug.log
*.orig
