
@font-face {
  font-family:kim;
  src:url(/static/css/fonts/kim.ttf) format("truetype");
}

html {
  font-size: 100%;
}

body {
    padding-top: 105px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'kim';
}
p, div {
    font-family: 'kim';
}

.navbar {
  font-size: 1.625rem;
  letter-spacing: 2.1px;
  border: none;
}

.navbar-brand {
  height: 110px;
}

.navbar-default
.navbar-nav>li>a {
  color: #636;
  padding-top: 40px;
  padding-bottom: 0px;
}

.navbar-default {
  background-color: #fff;
}

.navbar-default
.navbar-nav>li>a:hover {
  color: #f77e85;
}
