

#foundation #visualization .segments text {
  text-anchor: start;
  color: black;
}


#foundation #visualization .segments text.entity-label {
  cursor: pointer;
  z-index: 5;
}


#foundation #visualization .segments text.entity-label:hover {
  text-decoration: underline;
}

#foundation #visualization .segments circle {
  fill: red;
}

#foundation #visualization .segments rect {
  stroke-width: 2; 
  fill: #f9e9e9;
  stroke: red;
}

#foundation #visualization .segments.total rect {
  stroke-width: 0; 
  fill: red;
  stroke: red;
}

#foundation #visualization .student-summary .segments.total rect {
  stroke-width: 2; 
  fill: white;
  stroke: red;
  z-index: 0;
}



#foundation #visualization #ticks line {
  stroke-linecap: round; 
  stroke-width: 2; 
  stroke-dasharray: 5,5; 
  fill: none;
  stroke: #ddd;
}


#foundation #visualization #ticks text {
  fill: #bbb;
  font-size: 12px;
}

#foundation #visualization .student-summary #ticks text {
  fill: #000;
  font-size: 12px;
}

#foundation #visualization line.axis {
  stroke-linecap: square; 
  stroke-width: 2; 
  stroke: black;
}

#foundation #visualization .student-summary .segments text {
  text-anchor: middle;
  font-size: 11px;
}

#foundation #visualization .student-summary .segments g text.show-on-hover {
  opacity: 0;
}

#foundation #visualization .student-summary .segments g:hover text.show-on-hover {
  opacity: 1.0;
  font-size: 15px;
  font-weight: bold;
  font-family: arial;
  fill: black;
  text-shadow: 1px 1px 1px white;
}

#foundation #visualization .student-summary .segments g:hover rect.show-on-hover {
  /*stroke: white;*/
}