#foundation #visualization.locations svg {
  border: 3px solid black;
}

#foundation #visualization.locations svg .sensors circle {
  cursor: pointer;
  stroke: red; 
  /*stroke: black; */
  stroke-width: 2px;
  stroke-opacity: 1;
}

#foundation #visualization.locations svg .sensors circle.fill {
  fill: red; 
}

#foundation #visualization.locations svg .sensors circle.pulse {
  fill: white;
  fill-opacity: 0;
  transform-origin: 50% 50%;
  animation-duration: 2s;
  animation-name: pulse;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  from {
    stroke-width: 3px;
    stroke-opacity: 1;
    transform: scale(0.3);
  }
  to {
    stroke-width: 0;
    stroke-opacity: 0;
    transform: scale(2);
  }
}


#foundation #visualization {
  overflow: scroll;
  width: 100%;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 5px;
  padding: 10px;
  box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,0.1);
}

#foundation #visualization .segments text {
  text-anchor: start;
  color: black;
}


#foundation #visualization .segments text.entity-label {
  cursor: pointer;
  z-index: 5;
}


#foundation #visualization .segments text.entity-label:hover {
  text-decoration: underline;
}

#foundation #visualization .segments circle {
  fill: red;
}

#foundation #visualization .segments rect {
  stroke-width: 2;
  fill: #f9e9e9;
  stroke: red;
}

#foundation #visualization .segments.total rect {
  stroke-width: 0;
  fill: red;
  stroke: red;
}

#foundation #visualization .student-summary .segments.total rect {
  stroke-width: 2;
  fill: white;
  stroke: red;
  z-index: 0;
}



#foundation #visualization .ticks line {
  stroke-linecap: round;
  stroke-width: 2;
  stroke-dasharray: 5,5;
  fill: none;
  stroke: #ddd;
}


#foundation #visualization .ticks text {
  fill: #bbb;
  font-size: 12px;
}

#foundation #visualization .student-summary .ticks text {
  fill: #000;
  font-size: 12px;
}

#foundation #visualization line.axis {
  stroke-linecap: square;
  stroke-width: 2;
  stroke: black;
}

#foundation #visualization .student-summary .segments text {
  text-anchor: middle;
  font-size: 11px;
}

#foundation #visualization .student-summary .segments g text.show-on-hover {
  opacity: 0;
}

#foundation #visualization .student-summary .segments g:hover text.show-on-hover {
  opacity: 1.0;
  font-size: 15px;
  font-weight: bold;
  font-family: arial;
  fill: black;
  text-shadow: 1px 1px 1px white;
}

#foundation #visualization .student-summary .segments g:hover rect.show-on-hover {
  /*stroke: white;*/
}


#foundation #visualization #social-graph .link {
  fill: none;
  /*stroke: #bbb;*/
}

#foundation #visualization #social-graph .node {

  stroke-width: 1.5px;
}

#foundation #visualization #social-graph .labels text {
  fill: #000;
  font-size: 8px;
  font-weight: bold;
  text-anchor: end;
}
