/*#foundation #visualization.locations svg {
  border: 3px solid black;
}

#foundation #visualization.locations svg .sensors circle {
  cursor: pointer;
  stroke: red;
  stroke-width: 2px;
  stroke-opacity: 1;
}

#foundation #visualization.locations svg .sensors circle.fill {
  fill: #ff000063;
}

#foundation #visualization.locations svg .sensors circle.pulse {
  fill: white;
  fill-opacity: 0;
  transform-origin: 50% 50%;
  animation-duration: 2s;
  animation-name: pulse;
  animation-iteration-count: infinite;
}*/